:root {
  /* COLORS */
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 100%, 100%);

  /* TİPOGRAFİ */
  --ff: "Manrope", sans-serif;
  --fs-body: 13px;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* --- RESET --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-body);
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 327px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__content {
  padding: 32px;
  gap: 2rem;
}

.card__title {
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 12px;
}

.card__text {
  color: var(--desaturated-dark-blue);
  line-height: 1.6;
  font-weight: var(--fw-medium);
  margin-bottom: 32px;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 40px;
  margin-top: 2rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: opacity 0.2s;
}

.author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author__name {
  color: var(--very-dark-grayish-blue);
  font-weight: var(--fw-bold);
  margin-bottom: 2px;
}

.author__date {
  color: var(--grayish-blue);
}

.share-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--light-grayish-blue);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
  transition: all 0.3s ease;
}

.share-btn svg path {
  transition: fill 0.3s ease;
}

.share-popover {
  display: none;
  position: absolute;
  top: -32px;
  left: -32px;
  right: -32px;
  bottom: -32px;
  background-color: var(--very-dark-grayish-blue);
  align-items: center;
  padding-left: 32px;
  gap: 20px;
  z-index: 10;
}
.share-popover__body {
  display: flex;
  gap: 2rem;
}
.share-popover__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.share-popover__label {
  color: var(--grayish-blue);
  letter-spacing: 5px;
  font-size: 11px;
  text-transform: uppercase;
}

.share-popover__icons {
  display: flex;
  gap: 16px;
}

.share-popover__arrow {
  display: none;
}

.card.card--share-open .share-popover {
  display: flex;
  animation: fadeIn 0.3s ease;
}

.card.card--share-open .share-btn {
  background-color: var(--desaturated-dark-blue);
}

.card.card--share-open .share-btn svg path {
  fill: var(--white);
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    max-width: 730px;
    overflow: visible;
  }

  .card__image {
    width: 285px;
    height: auto;
    border-radius: 10px 0 0 10px;
  }

  .card__content {
    padding: 40px;
    width: 100%;
  }

  .card__title {
    font-size: 1.5rem;
    margin-bottom: 12px;
  }

  .share-popover {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 80px;
    right: -115px;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 10px;
    padding: 18px 40px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  }

  .share-popover__arrow {
    display: block;
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--very-dark-grayish-blue);
  }

  .card.card--share-open .share-btn {
    background-color: var(--very-dark-grayish-blue);
  }

  .card.card--share-open .author {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
