:root {
  /* Color */
  --white: hsl(0, 100%, 100%);
  --grey-900: hsl(217, 19%, 35%);
  --grey-500: hsl(214, 17%, 51%);
  --grey-400: hsl(212, 23%, 69%);
  --grey-200: hsl(210, 46%, 95%);

  /* Typography */
  --ff: "Manrope", sans-serif;
  /* Text Preset 1 (Bold) */
  --fs-text-1: 1.25rem;
  --lh-text-1: 1.3;
  --ls-text-1: 0.015625rem;
  /* Text Preset 2 (Medium) */
  --fs-text-2: 0.8125rem;
  --lh-text-2: 1.4;
  --ls-text-2: 0;

  /* Text Preset 3 */
  --fs-text-3: 0.8125rem;
  --lh-text-3: 1.4;
  --ls-text-3: 0.25rem;
  --fw-1: 500;
  --fw-2: 700;

  /* Spacing */
  --spacing-2000: 10rem;
  --spacing-1300: 6.5rem;
  --spacing-800: 4rem;
  --spacing-700: 3.5rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-0: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  font-family: var(--ff);
  background-color: var(--grey-200);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.card {
  max-width: 45.625rem;
  display: flex;
  border-radius: 10px;
  background-color: var(--white);
  overflow: hidden;
}
.card_image {
  width: 285px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
.card_content {
  margin: 30px 40px;
  width: 50%;
  gap: var(--spacing-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_title {
  font-size: var(--fs-text-1);
  font-weight: var(--fw-2);
  line-height: var(--lh-text-1);
  letter-spacing: var(--ls-text-1);
  color: var(--grey-900);
}
.card_text {
  font-size: var(--fs-text-2);
  font-weight: var(--fw-1);
  line-height: var(--lh-text-2);
  letter-spacing: var(--ls-text-2);
  color: var(--grey-500);
}
.card_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
}
.author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.author__name {
  font-size: var(--fs-text-2);
  font-weight: var(--fw-2);
  line-height: var(--lh-text-2);
  letter-spacing: var(--ls-text-2);
  color: var(--grey-500);
}
.author__date {
  font-size: var(--fs-text-2);
  font-weight: var(--fw-1);
  line-height: var(--lh-text-2);
  letter-spacing: var(--ls-text-2);
  color: var(--grey-400);
}
.share {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: var(--grey-200);
  border: 0px;
}
.share:hover {
  cursor: pointer;
}
.share-popover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
}
.share-popover__body {
  max-width: 248px;
  padding: 18px 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-900);
  border-radius: 10px;
  gap: var(--spacing-200);
}

.share-popover__label {
  font-size: var(--fs-text-3);
  font-weight: var(--fw-1);
  line-height: var(--lh-text-3);
  letter-spacing: var(--ls-text-3);
  color: var(--grey-400);
  display: inline-block;
}
.share-popover__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
}
.share-popover__arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--grey-900);
}
