:root {
  /* Color */
  --white: hsl(0, 100%, 100%);
  --grey-900: hsl(217, 19%, 35%);
  --grey-500: hsl(214, 17%, 51%);
  --grey-400: hsl(212, 23%, 69%);
  --grey-200: hsl(210, 46%, 95%);

  /* Typography */
  --ff: "Manrope", sans-serif;
  /* Text Preset 1 (Bold) */
  --fs-text-1: 1.25rem;
  --lh-text-1: 1.3;
  --ls-text-1: 0.015625rem;
  /* Text Preset 2 (Medium) */
  --fs-text-2: 0.8125rem;
  --lh-text-2: 1.4;
  --ls-text-2: 0;

  /* Text Preset 3 */
  --fs-text-3: 0.8125rem;
  --lh-text-3: 1.4;
  --ls-text-3: 0.25rem;
  --fw-1: 500;
  --fw-2: 700;

  /* Spacing */
  --spacing-2000: 10rem;
  --spacing-1300: 6.5rem;
  --spacing-800: 4rem;
  --spacing-700: 3.5rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-0: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
 flex:1;
}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "card-img card-content";
  gap: var(--spacing-500);
}

.card-img{
  grid-area: card-img;
}
.card-contend{
   grid-area: card-content;
}